@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500;700&family=Balsamiq+Sans&family=Chakra+Petch:wght@500&family=Orbitron&family=Poppins:wght@100;300&family=Prata&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
/* #nav{
  position: sticky;
  top: 0px;
 
} */

.navbar img {
  border-radius: 50%;
}

/* dark mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}
body {
  background-color: #fff;
  color: #000;
}
.navbar-nav {
  font-size: 18px;
  margin: 0px auto;
}
.nav-item {
  padding: 0px 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.collapse ul li a:hover {
  color: gray;
}
.active:active {
  background-color: green;
}

#about img {
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #0dcaf0;
}
#about i {
  margin: 5px;
  font-size: 22px;
}

.sname {
  color: orange;
}
.icon {
  width: 100%;
  height: 100%;
  margin-left: 44%;
}
.fa-facebook {
  color: blue;
}
.fa-instagram {
  color: red;
}
.fa-twitter {
  color: rgb(37, 105, 251);
}
.fa-linkedin {
  color: rgb(64, 40, 86);
}
#about h2,
h3 {
  text-align: center;
  margin: 10px;

  font-weight: 600;
}
h3 {
  font-family: orbitron;
}
.fa-youtube {
  color: red;
}
#about h2 {
  color: rgb(0, 0, 0);
}


.bt2 {
  margin-left: 39%;
}
.bt2 i {
  color: rgb(217, 187, 103);
}
.cv {
  border: 2px solid black;
  padding: 8px 17px;
  text-decoration: none;
  border-radius: 4px;
  color: rgb(23, 19, 19);
  background-color: #0dcaf0;
  border: 0px;
}

form {
  margin: 15px;
}
h5 {
  text-align: center;
  font-size: 5rem;
  padding: 10px;
  color: red;
}

/* container */

footer {
  background-color: #000000;
  height: 100px;
  margin-top: 160px;
}
footer p {
  text-align: center;
  color: white;
  opacity: 0.5;
  top: 15px;
  padding-top: 35px;
}

.download {
  position: relative;
  left: 40%;
  margin: 20px 0px;
}
.bt {
  background-color: rgb(189, 234, 234);
  font-size: 18px;
  border: 0px;
  padding: 5px 35px;
  color: rgb(29, 24, 14);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
}
.bt:hover {
  background-color: #5cb2c3;
}
.cv:hover {
  background-color: #5cb2c3;
}

.bt i {
  font-size: 18px;
}

/* conatct -card */
.contact-card {
  background-color: rgba(98, 220, 180, 0.387);
  margin: 85px 25px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 6px grey;
  box-shadow: 5px 5px 6px grey;
  height: 80vh;
}
.btn {
  margin: 35px 0px;
}

/* skill container */
.skill-container {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin-top: 50px;
}
.skill-left {
  width: 45%;
}
.skill-left img {
  width: 400px;
  height: 400px;
  position: relative;
  top: 15%;
  left: 30%;
  border-radius: 15px;
  opacity: 0.8;
}
.skill-right {
  width: 45%;
}
.skill-right h2 {
  font-family: orbitron;
  color: rgb(33, 30, 25);
  margin-top: 155px;
  margin-left: 170px;
}
.skill-right p {
  padding: 0px 25px;
  font-size: 18px;
}

.skill-right a {
  background-color: black;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 300px;
  border-radius: 5px;
  padding: 8px 20px;
  margin-left: 35%;
  margin-top: 18%;
}

.skill-right a:hover {
  background-color: grey;
}

/* <!-- skills & qualification section --> */

.load-more {
  background-color: black;
  padding: 2px 8px;
  width: 150px;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 45px;
}
.load-more a {
  padding-top: 35px;
  margin: 20px;
  text-decoration: none;
  color: white;
}

.project-load-more {
  background-color: black;
  padding: 2px 8px;
  width: 150px;
  height: 30px;
  display: block;
  margin: auto;
}
.project-load-more a {
  margin: 20px;
  text-decoration: none;
  color: white;
}

/* skill prgess-bar */
#new-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px;
  /* height: 60vh; */
}
#new-container h3 {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 50%;
}
.left1 {
  width: 60%;
  height: 100%;
  margin: 35px auto;
}
.s-right {
  width: 35%;
  height: 60vh;
  margin: 20px;

}
.s-right img {
  width: 220px;
  padding: 10px;
  border-radius: 25px;
}

.left li {
  margin: 10px;
  padding: 10px;
  list-style: none;
}
li {
  list-style: none;
}
h2 {
  font-family: orbitron;
  font-size: 20px;
}
.bar {
  background-color: rgb(213, 213, 222);
  display: block;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px grey;
  box-shadow: 5px 5px 5px grey;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.bar:hover {
  -webkit-box-shadow: 0 1px 3px rgb(53, 61, 53);
  box-shadow: 0 1px 3px rgb(53, 61, 53);
}
.bar span {
  height: 20px;
  float: left;
  border-radius: 50px;
  background: -o-linear-gradient(
    315deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
}
.html {
  width: 90%;
  -webkit-animation: html 3s;
  animation: html 3s;
}

.css {
  width: 70%;
  -webkit-animation: css 3s;
  animation: css 3s;
}
.javascript {
  width: 60%;
  -webkit-animation: javascript 3s;
  animation: javascript 3s;
}
.python {
  width: 80%;
  -webkit-animation: python 3s;
  animation: python 3s;
}

@-webkit-keyframes html {
  0% {
    width: 0%;
    100% {
      width: 70%;
    }
  }
}

@keyframes html {
  0% {
    width: 0%;
    100% {
      width: 70%;
    }
  }
}
@-webkit-keyframes css {
  0% {
    width: 0%;
    100% {
      width: 70%;
    }
  }
}
@keyframes css {
  0% {
    width: 0%;
    100% {
      width: 70%;
    }
  }
}
@-webkit-keyframes javascript {
  0% {
    width: 0%;
    100% {
      width: 70%;
    }
  }
}
@keyframes javascript {
  0% {
    width: 0%;
    100% {
      width: 70%;
    }
  }
}
@-webkit-keyframes python {
  0% {
    width: 0%;
    100% {
      width: 70%;
    }
  }
}
@keyframes python{
  0% {
    width: 0%;
    100% {
      width: 70%;
    }
  }
}

.row img{
  width: 100%;
}
